.box {
    position: relative;
    margin: 80px auto 0;
    width: 300px;
    height: 300px;
    background: #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.box :before,
.box:after {
    content: '';
    position: absolute;
    top: -2px;
    Left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400% 400%;
    width: calc(100%+6px);
    height: calc(100%+6px);
    border-radius: 20px;
    z-index: -1;
}